/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Forum', cursive;
  color: #2d2d2d;
}

/* NAVBAR */
.navbar {
  background-color: #124624;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

/* GETTING AROUND */



/* FOOTER */
.footer-bar {
  background-color: #124624;
}