/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Forum', cursive;
  color: #2d2d2d;
}

/* NAVBAR */
.navbar {
  background-color: #124624;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

/* THE RESIDENCE */
.the-residence-h2 {
  margin-bottom: 0px;
  margin-top: 10px;
}

/* THINGS TO DO */
.bars-button, .cafes-button, .restaurants-button, .theaters-button, .tourist-attractions-button {
    background-color: #124624;
    color: #ffffff;
    border: 2px solid #9D9D9D;
    width: 100%;
    font-size: 16px;
    margin-bottom: 4%;
}

/* GETTING HERE */
.book-flights-button {
    background-color: #124624;
    color: #ffffff;
    border: 2px solid #9D9D9D;
    width: 50%;
    font-size: 16px;
}

/* GETTING AROUND */



/* FOOTER */
.footer-bar {
  background-color: #124624;
}