/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Forum', cursive;
  color: #2d2d2d;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 2rem;
  z-index: 1;
  font-size: 18px;
  border: 1px solid #2d2d2d;
  outline: none;
  background-color: #A58D4E;
  color: white;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
}

.arrivals-img {
  max-height: calc(100vh - 56px);
  width: 100%;
}

/* White hamburger menu on mobile with white border */
.navbar-toggler {
  border-color: #ffffff !important;
}

.hamburger {
  color: #ffffff !important;
}

hr {
  /* width: 50%; */
  color: #2d2d2d;
}

.our-recommendations-div {
  padding: 0px 2px 0px 2px;
}

.carousel-h2 {
  color: #ffffff;
  padding-bottom: 30px;
}

.fa-map-signs:before {
  color: #ffffff;
  margin: 0px 20px 0px 20px;
}

.fa-paper-plane:before {
  color: #ffffff;
  margin: 0px 20px 0px 20px;
}

.skyscanner {
  border: 2px solid #9D9D9D;
  border-radius: 5px;
}

.container-fluid {
  padding: 0px;
}

/* LANDING PAGE */
.splash {
  background-image: url('../images/irish-beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 100vh !important;
  /* width: auto; */
}

.city-select {
  padding-top: 30vh;
}

.city-select-button-dublin, .city-select-button-cork, .city-select-button-galway {
  color: #ffffff;
  font-size: 58px;
  font-weight: bold;
}

.city-select-button-dublin:hover, .city-select-button-cork:hover, .city-select-button-galway:hover {
  color: #2d2d2d;
}

/* DUBLIN */
/* NAVBAR DUBLIN */
.navbar {
  background-color: #124624;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.carousel-item {
  max-height: calc(100vh - 56px - 91.46px);
}

/* ABOUT DUBLIN */
.about-dublin-h2 {
  margin-top: 15px;
}

.about-dublin-p {
  margin-bottom: 0px;
  margin-top: 16px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

.dublin-flag-l {
  width: 180px;
  margin-right: 20px;
}

.dublin-flag-r {
  width: 180px;
  margin-left: 20px;
}

/* GETTING HERE DUBLIN */

.getting-here-dublin-h2 {
  color: #ffffff;
  background-color: #124624;
  margin-bottom: 0px;
  border: 2px solid #9D9D9D;
}

.getting-here-dublin-p {
  margin-top: 15px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

.fa-plane-departure:before {
  margin-right: 20px;
  color: #ffffff;
}

.fa-plane-arrival:before {
  margin-left: 20px;
  color: #ffffff;
}

.book-flights-button {
  background-color: #124624;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  width: 50%;
  font-size: 16px;
  margin-bottom: 0px;
}

/* THINGS TO DO DUBLIN */
.things-to-do-dublin-h2 {
  background-color: #124624;
  color: #ffffff;
  border: 2px solid #9D9D9D;
}

.things-to-do-dublin-p {
  margin-top: 15px;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

.dropdown-button-dublin {
  background-color: #124624;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.our-recommendations-dublin-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card {
  margin: 5px 0px 5px 0px;
}

.card-body {
  background-color: #A58D4E;
  border: 2px solid #9D9D9D;
}

.card-title, .card-text {
  color: #ffffff;
}

.recommendations-link {
  background-color: #124624;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  margin: 3px 3px 3px 0px;
}

/* OUR RECOMMENDATIONS DUBLIN */
.our-recommendations-dublin-h2 {
  background-color: #124624;
  color: #ffffff;
  border: 2px solid #9D9D9D;
}

/* CONTACT US DUBLIN */
.contact-us-dublin-h2 {
  background-color: #124624;
  color: #ffffff;
  border: 2px solid #9D9D9D;
}

.contact-us-form {
  border: 1px solid #9D9D9D;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 0px 20px 0px 20px;
}

.send-message-button-dublin {
  background-color: #124624;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  width: 50%;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  width: 50%;
}

.contact-us-dublin-h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.contact-us-free-text {
  margin-top: 10px;
}

.form-group {
  margin: 0px;
}

/* FOOTER DUBLIN */
.footer-bar {
  background-color: #124624;
  border: 2px solid #9D9D9D;
}

.fa-facebook:before {
  font-size: 40px;
  color: #ffffff;
  margin: 0px 10px 0px 10px;
}

.fa-instagram:before {
  font-size: 40px;
  color: #ffffff;
  margin: 0px 10px 0px 10px;
}

.fa-twitter:before {
  font-size: 40px;
  color: #ffffff;
  margin: 0px 10px 0px 10px;
}

.fa-youtube:before {
  font-size: 40px;
  color: #ffffff;
  margin: 0px 10px 0px 10px;
}

.fa-phone-square-alt:before {
  color: #ffffff;
  height: 100%;
}

.fa-envelope-square:before {
  color: #ffffff;
  height: 100%;
}

.developed-p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 0px;
}

.copyright-p {
  color: #ffffff;
  font-size: 20px;
}

.dublin-footer, .cork-footer, .galway-footer {
  color: #ffffff;
  font-size: 20px;
}

.dublin-footer:hover, .cork-footer:hover, .galway-footer:hover {
  text-decoration: none;
  color: #ffffff;
}

.footer-city-p {
  margin-bottom: 0px;
  margin-top: 10px;
}

/* CORK PAGE */

/* NAVBAR CORK */
.navbar-cork {
  background-color: #ff0000;
  color: #ffffff;
}

/* ABOUT CORK */
.about-cork-h2 {
  margin-top: 15px;
}

.cork-coat-of-arms-l, .cork-coat-of-arms-r {
  width: 200px;
}

.about-cork-p {
  margin-bottom: 0px;
  margin-top: 16px;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

/* GETTING HERE CORK */

.getting-here-cork-h2 {
  color: #ffffff;
  background-color: #ff0000;
  margin-bottom: 0px;
  border: 2px solid #9D9D9D;
}

.getting-here-p-cork {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

.book-flights-button-cork {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  width: 50%;
  font-size: 16px;
}

/* THINGS TO DO CORK */
.things-to-do-cork-h2 {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #9D9D9D;
}

.things-to-do-cork-p {
  margin: 15px 0px 15px 0px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

/* OUR RECOMMENDATIONS CORK */
.recommendations-link-cork{
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  margin: 3px 3px 3px 0px;
}

.our-recommendations-cork-h2 {
  background-color: #ff0000;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid #9D9D9D;
}

.dropdown-button-cork {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* CONTACT US CORK */
.contact-us-cork-h2 {
  margin-bottom: 0px;
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #9D9D9D;
}

.send-message-button-cork {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  width: 50%;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  width: 50%;
}

/* FOOTER CORK */
.footer-bar-cork {
  background-color: #ff0000;
  border: 2px solid #9D9D9D;
}

/* GALWAY PAGE */

/* NAVBAR GALWAY */
.navbar-galway {
  background-color: #9c0404;
  color: #ffffff;
}

/* ABOUT GALWAY */
.galway-coat-of-arms-l, .galway-coat-of-arms-r {
  width: 170px;
}

.about-galway-h2 {
  margin-bottom: 0px;
  margin-top: 15px;
}

.about-galway-p {
  margin: 0px;
  margin-top: 16px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

/* GETTING HERE GALWAY*/
.getting-here-galway-h1 {
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  margin-bottom: 0px;
}

.getting-here-p-galway {
  margin-top: 15px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

.book-flights-button-galway {
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  width: 50%;
  font-size: 16px;
}

/* THINGS TO DO GALWAY */
.things-to-do-galway-h2 {
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
}

.things-to-do-galway-p {
  margin: 15px 0px 15px 0px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

.getting-here-galway-h2 {
  color: #ffffff;
  background-color: #9c0404;
  margin-bottom: 0px;
  border: 2px solid #9D9D9D;
}

.dropdown-button-galway {
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* OUR RECOMMENDATIONS */
.our-recommendations-galway-h2 {
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  margin-top: 0px;
  margin-bottom: 0px;
}

.recommendations-link-galway{
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  margin: 3px 3px 3px 0px;
}

/* CONTACT US GALWAY*/
.contact-us-galway-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
}

.send-message-button-galway {
  background-color: #9c0404;
  color: #ffffff;
  border: 2px solid #9D9D9D;
  width: 50%;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  width: 50%;
}

/* FOOTER GALWAY */
.footer-bar-galway {
  background-color: #9c0404;
  border: 2px solid #9D9D9D;
}